#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_install:
	dh_auto_install
	mv debian/figlet/usr/bin/figlet debian/figlet/usr/bin/figlet-figlet
	dh_installdirs /usr/share/emacs/site-lisp
	dh_install debian/figlet.el /usr/share/emacs/site-lisp
	dh_installexamples debian/examples/moolets

override_dh_installman:
	dh_installman
	mv debian/figlet/usr/share/man/man6/figlet.6 debian/figlet/usr/share/man/man6/figlet-figlet.6

%:
	dh $@
